<ion-view view-title="Parametros del Clima">
  <ion-content>
  <div clas="list">
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-sunny"></i>
    Temperatura
    <span class="item-note">
      45 C
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-navicon-round"></i>
    Viento
    <span class="item-note">
      22 m/s
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-levels"></i>
    Intensidad de la lluvia
    <span class="item-note">
      5 L/m
    </span>
  </a>
   <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-partlysunny"></i>
    Estado del cielo
    <span class="item-note">
      Nublado
    </span>
  </a>

</div> 
  </ion-content>
</ion-view>
