<ion-view view-title="Parametros del Clima">
  <ion-content>
  <div clas="list">
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-sunny"></i>
    Temperatura
    <span class="item-note">
        {{ temperature }} °C
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-navicon-round"></i>
    Viento
    <span class="item-note">
        {{ windSpeed }} m/s
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-levels"></i>
    Intensidad de la lluvia
    <span class="item-note">
      5 L/m
    </span>
  </a>
   <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-partlysunny"></i>
    Estado del cielo
    <span class="item-note">
        {{ summary }}
    </span>
  </a>

</div> 
      <h1>Select city</h1>
        <ion-list>
            <ion-item ng-repeat="city in cities">
              <span href="#" ng-click="changeCity('{{city.id}}')">
                  {{city.name}}
              </span>
            </ion-item>
         </ion-list>
  </ion-content>
</ion-view>
