@import 'nib'
@import 'nib/vendor'
@import 'jeet'

global-reset()

$color1 = #DC011E
$color2 = #11ADB9
$color3 = #009865
$color4 = #F9CE47
$color5 = #FB4D24
$color6 = #EB012C
$color7 = #0067C3
$color8 = #01BE46
$color9 = #F3B802
$color10 = #F12F02

$celeste = #1ea1c7ff
$naranja = #ee9c1dff
$plomo = #4c676fff
$gris = #9ca2a9ff
$colorfooter = rgba(78, 85, 88, 1)

$ctwitter = rgba(128, 206, 240, 1)
$cfacebook = rgba(92, 137, 206, 1)
$cinstagram = rgba(0, 68, 34, .91 )
$cgoogle = rgba( 223, 92, 86, 1)
$cmarino = rgba(51, 81, 122, 1)
$cazul = rgba(75, 120, 192, 1)
$cvioleta = rgba(112, 40, 97, 1)


#main
    #head_control
        center(85%)
        position relative
        top 1em
        #slider_aux_1
            col( 3/12 , cycle: 3)
            top: 0.7em;
        #slider_on_off
            col( 2/12 , offset: 2/12 , cycle: 3)
            top: 0.7em;
            width: 7%
        #slider_aux_2
            col( 3/12, cycle: 3)
        .ui-slider-handle
            width 35px
            height 35px
            top -12px
            background $cvioleta
    #btn_cv_control
        position: absolute;
        right: 0px;
        top: 0px;
    #cv_control
        position: absolute;
        top: 0em;
        width: 10em;
        z-index: 1;
        background: $cgoogle
        padding: 0 0 0 1em;
        right: 0px;
        +below( 767px )
            right: 0em;
            width: 8em;
        +below( 480px )
            right 0em
            width 8em
        label.radios_cv
            display block
            margin-bottom 0.6em
            +below( 767px )
                margin-bottom 0em
                font-size 0.7em
            +below( 480px )
                font-size 0.7em
                margin-bottom: 1.9em;
        .radio .icon-checked::before
            content: "";
            font-size: 1.1em;
            +below( 767px )
                font-size: 1.2em
        .radio .icon-unchecked::before
            content: "";
            font-size: 1.1em;
            +below( 767px )
                font-size: 1.2em
        .checkbox .icons, .radio .icons
            left -0.5em
    #controller_joystick
        center(100%)
        position: absolute;
        bottom: 0em;
        width: 100%;
        #slider_throttle
            col(1/12 , cycle: 3)
            width 1.6em
            left 0.8em
            min-height: 400px
            .ui-slider-handle
                width 35px
                height 35px
                left -2px
                background $color4
        #joystick_left
            col(5/12 , cycle: 3)
            position absolute
            background red
            bottom 25%
            left 15%
            width: 1.5em;
            height: 1.5em;
            font-size: 150px;//font-size is used to determine the size of arrows
            +below( 767px )
                bottom 0px
                left: 19%;
            +below( 480px )
                width:100px;
                height:100px;
                font-size:90px;//font-size is used to determine the size of arrows
                bottom: .7em
                left: 0.7em;
            +below( 267px )
                bottom: 1em
            #bg_joystick_left
                position relative
                //background: $cinstagram
                opacity: 0.3
                padding: 1.25em;
                bottom: 34%;
                left: -33%;
                border-radius: 50em
                border solid 1px #000;
                +below( 767px )
                    padding 0.7em
                +below( 480px )
                    padding: 0.8em;
                    left: -22px;
                    bottom: 22px;

            .joydiv-up ,.joydiv-left, .joydiv-right, .joydiv-down, .joydiv-n, .joydiv-m
                position absolute
                width 0
                height 0
                background  transparent
                border solid transparent

            .joydiv-up
                top -40%
                left 50%
                margin-left -40%
                border-bottom-color $color10
                border-top-width 0
                border-left-width .40em
                border-right-width .40em
                border-bottom-width .45em
                display none
            .joydiv-left
                left  -40%
                top  35%
                border-right-color  $color9
                border-top-width  .40em
                border-left-width  0
                border-right-width  .45em
                border-bottom-width  .40em
                margin-top -25%
                display none
            .joydiv-right
                right -40%
                top 50%
                margin-top -40%
                border-left-color  $color9
                border-top-width  .40em
                border-left-width  .45em
                border-right-width  0
                border-bottom-width  .40em
                display none
            .joydiv-down
                bottom -40%
                left 50%
                margin-left -40%
                border-top-color  $color10
                border-top-width  .45em
                border-left-width  .40em
                border-right-width  .40em
                border-bottom-width  0
                display none

            .joydiv-trackpad
                position absolute
                left 25%
                right 25%
                top 25%
                bottom 25%
                //background $color8
                border-radius: 50%;
                border: solid 1px $cmarino
                +below( 767px )
                    left: 0%;
                    right: 50%;
                    top: 0%;
                    bottom: 50%;
                +below( 480px )
                    left: 25%;
                    right: 25%;
                    top: 25%;
                    bottom: 25%;

                .joydiv-tracker
                    position absolute
                    top 50%
                    left 50%
                    border-radius 50%
                    border-style solid
                    border-width .2em
                    margin-left -.2em
                    margin-top -.2em
                    border-color $color3

        #joystick_right
            col(5/12 , cycle: 3)
            position absolute
            bottom 25%
            right 15%
            color: $color6
            width: 1.5em;
            height: 1.5em;
            background yellow
            font-size: 150px;//font-size is used to determine the size of arrows
            +below( 767px )
                bottom 0px
            +below( 480px )
                width:100px;
                height:100px;
                font-size:90px;//font-size is used to determine the size of arrows
                bottom: .7em
                right: .45em;
            #bg_joystick_right
                position relative
                //background: $cinstagram
                opacity: 0.3
                padding: 1.25em;
                bottom: 34%;
                left: -33%;
                border-radius: 50em
                border solid 1px #000;
                +below( 767px )
                    padding 0.7em
                +below( 480px )
                    padding: 0.8em;
                    left: -22px;
                    bottom: 22px;

            .joydiv-up ,.joydiv-left, .joydiv-right, .joydiv-down, .joydiv-n, .joydiv-m
                position absolute
                width 0
                height 0
                background  transparent
                border solid transparent

            .joydiv-up
                top -40%
                left 50%
                margin-left -40%
                border-bottom-color $color10
                border-top-width 0
                border-left-width .40em
                border-right-width .40em
                border-bottom-width .45em
                display none

            .joydiv-left
                left  -40%
                top  35%
                border-right-color  $color9
                border-top-width  .40em
                border-left-width  0
                border-right-width  .45em
                border-bottom-width  .40em
                margin-top -25%
                display none

            .joydiv-right
                right -40%
                top 50%
                margin-top -40%
                border-left-color  $color9
                border-top-width  .40em
                border-left-width  .45em
                border-right-width  0
                border-bottom-width  .40em
                display none

            .joydiv-down
                bottom -40%
                left 50%
                margin-left -40%
                border-top-color  $color10
                border-top-width  .45em
                border-left-width  .40em
                border-right-width  .40em
                border-bottom-width  0
                display none

            .joydiv-trackpad
                position absolute
                left 25%
                right 25%
                top 25%
                bottom 25%
                //background $color8
                border-radius: 50%;
                border: solid 1px $cmarino
                +below( 767px )
                    left: 0%;
                    right: 50%;
                    top: 0%;
                    bottom: 50%;
                +below( 480px )
                    left: 25%;
                    right: 25%;
                    top: 25%;
                    bottom: 25%;

                .joydiv-tracker
                    position absolute
                    top 50%
                    left 50%
                    border-radius 50%
                    border-style solid
                    border-width .2em
                    margin-left -.2em
                    margin-top -.2em
                    border-color $color2
img.video_c
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

.fadein
    opacity 1
    -webkit-transition opacity 1s ease-in

.fadeout
    opacity 0
    -webkit-transition opacity 1s ease-out

textarea
    font 16px "Source Sans", helvetica, arial, sans-serif
    font-weight 200
    display block
    -webkit-border-radius 6px
    width 100%
    height 140px

.dispositivo
    font-size 2em
    #deviceList
        padding:25px;
        margin: 0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        background: #f8f8f8;
        color:#888;
        border:none;
        outline:none;
        display: inline-block;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        cursor:pointer;

#connection
    padding 7%
    margin-bottom 40px
    text-align center

#chat
    display none
    margin 20px

#sendButton
    margin-top 4px

#message
    max-width 185px

select
    min-width 200px

form
    margin-bottom 20px

footer
    nav
        padding 0px
        a
            font-size 3em